* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

.debug * {
    border: 1px solid red;
    padding: 15px;
}
.debug header div {
    border-color: blue;
    padding: 10px;
}

header div {
    padding: 10px;
    background-color: white;
}

.logo {
    vertical-align: middle;  
}

h1 {
    display: inline-block;
    font-family: sans-serif;
} 

body {
    background-color: whitesmoke;
    font-family: sans-serif;
}

main div {
    max-width: 800px;
    margin: 15px auto;
    background-color: white;
    padding: 20px 40px;
}

input {
    padding: 4px;
    border-radius: 5px;
    margin-bottom: 60px;
}

.btn-task {
    border-color: cornflowerblue;
    background-color: cornflowerblue;
}

.btn-section {
    border-color: whitesmoke;
    background-color: white;
}

p {
    margin-bottom: 15px;
}

ul {
    list-style: none;
    margin-bottom: 20px;
}

.check {
    color:green;
    border-radius: 50%;
    border: 2px solid green;
}

.cross {
    color: red;
    border-radius: 50%;
    border: 2px solid red;
}

.editorial {
    background-color: cornflowerblue;
}

.badge {
    border-radius: 25px;
    padding: 7px;
    font-size: x-small;
    
}